In [1]:
import pandas as pd

In [2]:
for_mapbox = pd.DataFrame(columns=['name', 'latitude', 'longitude', 'phone_number', 'additional_info', 'type'])

In [3]:
se = pd.read_csv('Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv')
se

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
5,6.0,Lake View,1.1,11.4,4.7,2.6,17.0,60058,5.0
6,7.0,Lincoln Park,0.8,12.3,5.1,3.6,21.5,71551,2.0
7,8.0,Near North Side,1.9,12.9,7.0,2.5,22.6,88669,1.0
8,9.0,Edison Park,1.1,3.3,6.5,7.4,35.3,40959,8.0
9,10.0,Norwood Park,2.0,5.4,9.0,11.5,39.5,32875,21.0
10,11.0,Jefferson Park,2.7,8.6,12.4,13.4,35.5,27751,25.0
11,12.0,Forest Glen,1.1,7.5,6.8,4.9,40.5,44164,11.0
12,13.0,North Park,3.9,13.2,9.9,14.4,39.0,26576,33.0
13,14.0,Albany Park,11.3,19.2,10.0,32.9,32.0,21323,53.0
14,15.0,Portage Park,4.1,11.6,12.6,19.3,34.0,24336,35.0
15,16.0,Irving Park,6.3,13.1,10.0,22.4,31.6,27249,34.0
16,17.0,Dunning,5.2,10.6,10.0,16.2,33.6,26282,28.0
17,18.0,Montclaire,8.1,15.3,13.8,23.5,38.6,22014,50.0
18,19.0,Belmont Cragin,10.8,18.7,14.6,37.3,37.3,15461,70.0
19,20.0,Hermosa,6.9,20.5,13.1,41.6,36.4,15089,71.0
20,21.0,Avondale,6.0,15.3,9.2,24.7,31.0,20039,42.0
21,22.0,Logan Square,3.2,16.8,8.2,14.8,26.2,31908,23.0
22,23.0,Humboldt park,14.8,33.9,17.3,35.4,38.0,13781,85.0
23,24.0,West Town,2.3,14.7,6.6,12.9,21.7,43198,10.0
24,25.0,Austin,6.3,28.6,22.6,24.4,37.9,15957,73.0
25,26.0,West Garfield Park,9.4,41.7,25.8,24.5,43.6,10934,92.0
26,27.0,East Garfield Park,8.2,42.4,19.6,21.3,43.2,12961,83.0
27,28.0,Near West Side,3.8,20.6,10.7,9.6,22.2,44689,15.0
28,29.0,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034,87.0
29,30.0,South Lawndale,15.2,30.7,15.8,54.8,33.8,10402,96.0
...,...,...,...,...,...,...,...,...,...
48,49.0,Roseland,2.5,19.8,20.3,16.9,41.2,17949,52.0
49,50.0,Pullman,1.5,21.6,22.8,13.1,38.6,20588,51.0
50,51.0,South Deering,4.0,29.2,16.3,21.0,39.5,14685,65.0
51,52.0,East Side,6.8,19.2,12.1,31.9,42.8,17104,64.0
52,53.0,West Pullman,3.3,25.9,19.4,20.5,42.1,16563,62.0
53,54.0,Riverdale,5.8,56.5,34.6,27.5,51.5,8201,98.0
54,55.0,Hegewisch,3.3,17.1,9.6,19.2,42.9,22677,44.0
55,56.0,Garfield Ridge,2.6,8.8,11.3,19.3,38.1,26353,32.0
56,57.0,Archer Heights,8.5,14.1,16.5,35.9,39.2,16134,67.0
57,58.0,Brighton Park,14.4,23.6,13.9,45.1,39.3,13089,84.0
58,59.0,McKinley Park,7.2,18.7,13.4,32.9,35.6,16954,61.0
59,60.0,Bridgeport,4.5,18.9,13.7,22.2,31.3,22694,43.0
60,61.0,New City,11.9,29.0,23.0,41.5,38.9,12765,91.0
61,62.0,West Elsdon,11.1,15.6,16.7,37.0,37.7,15754,69.0
62,63.0,Gage Park,15.8,23.4,18.2,51.5,38.8,12171,93.0
63,64.0,Clearing,2.7,8.9,9.5,18.8,37.6,25113,29.0
64,65.0,West Lawn,5.8,14.9,9.6,33.6,39.6,16907,56.0
65,66.0,Chicago Lawn,7.6,27.9,17.1,31.2,40.6,13231,80.0
66,67.0,West Englewood,4.8,34.4,35.9,26.3,40.7,11317,89.0
67,68.0,Englewood,3.8,46.6,28.0,28.5,42.5,11888,94.0
68,69.0,Greater Grand Crossing,3.6,29.6,23.0,16.5,41.0,17285,66.0
69,70.0,Ashburn,4.0,10.4,11.7,17.7,36.9,23482,37.0
70,71.0,Auburn Gresham,4.0,27.6,28.3,18.5,41.9,15528,74.0
71,72.0,Beverly,0.9,5.1,8.0,3.7,40.5,39523,12.0
72,73.0,Washington Height,1.1,16.9,20.8,13.7,42.6,19713,48.0
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [4]:
housing = pd.read_csv('Affordable_Rental_Housing_Developments.csv')
housing = housing[['Property Name', 'Latitude', 'Longitude', 'Phone Number', 'Property Type']]
housing.columns=['name', 'latitude', 'longitude', 'phone_number', 'additional_info']
housing['type'] = "Affordable Housing"
housing.additional_info = "Property Type: " + housing.additional_info

housing.head()

,name,latitude,longitude,phone_number,additional_info,type
0,Winthrop Apts.,41.995015,-87.658516,773-477-7070,Property Type: Multifamily,Affordable Housing
1,Resurrection Homes,41.855133,-87.703067,312-248-8355,Property Type: Multifamily,Affordable Housing
2,Renaissance St. Luke Greenview Place,41.940531,-87.666383,773-525-1501,Property Type: Senior,Affordable Housing
3,All Saints Senior Residence,41.681590,-87.622628,312-655-7440,Property Type: Senior,Affordable Housing
4,Victory Center of Roseland,41.703891,-87.620771,773-468-6400,Property Type: Senior,Affordable Housing

In [5]:
grocery = pd.read_csv('IL.csv')
grocery = grocery[grocery.CITY.isin(['Chicago', 'Chiacgo', 'CHICAGO'])]
grocery = grocery[['STORE_NAME', 'ADDRESS', 'longitude', 'latitude']]
grocery.to_csv('grocery.csv')
# add phone numbers from YELP

In [6]:
libraries = pd.read_csv('Libraries_-_Locations__Hours_and_Contact_Information.csv')
libraries['latitude'] = libraries.LOCATION.apply(lambda x: float(x.strip("()").split(",")[0]))
libraries['longitude'] = libraries.LOCATION.apply(lambda x: float(x.strip("()").split(",")[1]))
libraries = libraries[['NAME ', 'latitude', 'longitude', 'PHONE', 'HOURS OF OPERATION']]
libraries.columns=['name', 'latitude', 'longitude', 'phone_number', 'additional_info']
libraries.additional_info = "Hours: " + libraries.additional_info
libraries['type'] = "Library"

libraries.head()

,name,latitude,longitude,phone_number,additional_info,type
0,South Shore,41.761555,-87.562084,Closed for Construction,NaN,Library
1,Albany Park,41.975456,-87.714090,(773) 539-5450,"Hours: Sun., Closed; Mon. & Wed., 10-6; Tue. &...",Library
2,Altgeld,41.654730,-87.602230,(312) 747-3270,"Hours: Sun., Closed; Mon. & Wed., Noon-8; Tue....",Library
3,Archer Heights,41.801214,-87.726491,(312) 747-9241,"Hours: Sun., Closed; Mon. & Wed., Noon-8; Tue....",Library
4,Austin,41.889272,-87.765712,(312) 746-5038,"Hours: Sun., Closed; Mon. & Wed., Noon-8; Tue....",Library

In [7]:
spqr = pd.ExcelFile('SQRP_18_19.xls')
elem = pd.read_excel(spqr, "elem", header=0, skiprows=1)
high = pd.read_excel(spqr, "high")
combo = pd.read_excel(spqr, "combo")
option = pd.read_excel(spqr, "option")

all_schools = elem
for s in ['high', 'combo', 'option']:
    all_schools = all_schools.append(pd.read_excel(spqr, s, header=0))
    print(all_schools.shape)

(592, 104)
(621, 179)
(663, 182)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [9]:
all_schools2 = all_schools[['School ID', 'SY 2018-2019 SQRP Rating']]
all_schools2.columns = ['School_ID', 'additional_info']
all_schools2 = all_schools2.dropna(subset=['School_ID'])
all_schools2.School_ID = all_schools2.School_ID.apply(lambda x: int(x))

In [10]:
s = pd.read_csv('Chicago_Public_Schools_-_School_Profile_Information_SY1617 (1).csv')
schools = s.merge(all_schools2, on='School_ID', how='left')
schools = schools[['Long_Name', 'School_Latitude', 'School_Longitude', 'Phone', 'additional_info']]
schools.columns=['name', 'latitude', 'longitude', 'phone_number', 'additional_info']
schools['type'] = "School"
schools['additional_info'] = "SQRP Rating: " + schools.additional_info

schools.head()

,name,latitude,longitude,phone_number,additional_info,type
0,Harriet E Sayre Elementary Language Academy,41.914151,-87.798721,7735343351,SQRP Rating: Level 2+,School
1,Ronald E McNair Elementary School,41.897819,-87.746731,7735348980,SQRP Rating: Level 1+,School
2,Charles N Holden Elementary School,41.838027,-87.653792,7735357200,SQRP Rating: Level 1+,School
3,Acero Charter Schools - SPC Daniel Zizumbo,41.810135,-87.730495,7735793470,SQRP Rating: Level 1,School
4,John B Murphy Elementary School,41.950078,-87.716832,7735345223,SQRP Rating: Level 2+,School

In [11]:
for_mapbox = for_mapbox.append(housing)
for_mapbox = for_mapbox.append(libraries)
for_mapbox = for_mapbox.append(schools)
# add grocery

for_mapbox = for_mapbox.fillna('')

In [16]:
for_mapbox.head()

,name,latitude,longitude,phone_number,additional_info,type
0,Winthrop Apts.,41.995015,-87.658516,773-477-7070,Property Type: Multifamily,Affordable Housing
1,Resurrection Homes,41.855133,-87.703067,312-248-8355,Property Type: Multifamily,Affordable Housing
2,Renaissance St. Luke Greenview Place,41.940531,-87.666383,773-525-1501,Property Type: Senior,Affordable Housing
3,All Saints Senior Residence,41.681590,-87.622628,312-655-7440,Property Type: Senior,Affordable Housing
4,Victory Center of Roseland,41.703891,-87.620771,773-468-6400,Property Type: Senior,Affordable Housing